@import url(./assets/fonts/Poppins/poppins.css);
body {
  font-family: -apple-system, BlinkMacSystemFont,'poppinsRegular','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* border: 2px solid blue; */
  height: 100vh;
  background-color: #f3f6f9;
}
#root{
  /* border: 2px solid green; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
*{
  margin: 0;
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


